@font-face {
  font-family: "MyFont";
  src: url("/Pixellari.ttf") format("truetype");
}

body {
  text-align: center;
  background: #dce4bf;
  color: #909b70;
  font-family: "MyFont", sans-serif;
}

.App {
    display: flex;
  flex-direction: column;
  align-items: center;      /* horizontal centering */
  justify-content: center;  /* vertical centering */
  height: 100vh; 
}

h1 {
  font-size: 80px;
  margin-bottom: 10px;
}

h2 {
  font-size: 90px;
  margin: 15px;
}

.mode {
  font-size: 30px;
  margin-bottom: 0px;
}

.buttons {
  margin-top: 30px;
}

button {
  background-color: transparent;
  border-style: none;
}

img {
  width: 130px;
}

.middle {
  display: flex;
  justify-content: center;
   align-items: center;  
  height: 30vh; 
}

.middle img {
  width: 180px;
}

label {
  font-size: 20px;
  display: flex;
  gap: 10px;
}